//
// @import "modularscale";

$modularscale: (
  base: 1em,
  ratio: 1.125
);

//
// $ms-base: 1rem 1.5rem;  // Double stranded modular scale
// $ms-ratio: $golden;

$ms-fluid: true;

// $ms-range:
//   1.1 20em,
//   1.2 30em,
//   1.3 40em,
//   1.4 50em,
//   1.5 60em;

// h1 { font-size: ms(5); }
// h2 { font-size: ms(2); }
// h3 { font-size: ms(1); }