// libs
@import "susy";
@import "modularscale";

@import "vars";
@import "typography";
@import "menu";
@import "slider";
@import "footer";
@import "block";
@import "button";
@import "card";
@import "misc";

@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
  box-sizing: border-box;
  font-family: $font-base;
}

body{
  background-image: url(/bg.png);
  background-repeat: no-repeat;
  background-position: right bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  font-family: $font-base; 
  margin:0;
}